@import '../../../styles/colors.scss';
@import '../../../styles/text.styles.scss';
@import '../../../styles/common.scss';

.cs-wrapper {
  padding-top: 160px;
  @extend .max-width-wrapper;

  .clinets-wrapper {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 60px;

    .cs-client {
      max-width: 280px;
      height: 60px;

      .cs-client-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
