@import '../../../styles/common.scss';
@import '../../../styles/colors.scss';

$icon_size: 94px;

.ss-wrapper {
  @extend .max-width-wrapper;
  padding-top: 130px;

  .ss-cards-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;

    .service-card {
      position: relative;
      width: 100%;
      max-width: 390px;
      padding: 40px;

      .sc-icon {
        width: $icon_size;
        height: $icon_size;
        font-size: 45px;
        color: #6595f7;
      }
    }
  }
}
