@import '../../../styles/common.scss';
$icon_size: 94px;

.ss-wrapper {
  @extend .max-width-wrapper;
  padding-top: 130px;

  .ss-cards-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding-top: 70px;
    gap: 30px;
    row-gap: 50px;
  }
}
