$ixd_dark_blue: #5d84e9;
$ixd_medium_blue: #4a98e8;
$ixd_light_blue: #0ad6e3;
$ixd_lighter_blue: #eefafd;

$disabled_text: #979797;

$anchor_color: #6595f7;

$ixd_input_hover: #00687e;
$ixd_input_focus: #42a0e7;
