@import '../../../styles/text.styles.scss';

$icon_size: 35px;

.ftr-socials {
  width: 100%;
  min-height: 80px;
  border-top: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 25px;
    padding: 25px;
  }

  .ftr-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }

    .fs-icon {
      width: $icon_size;
      height: $icon_size;
      border-radius: 50%;
      background-color: #dcf6ff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0051b3;
      font-size: 16px;
      margin-right: 10px;
    }

    .fs-text {
      color: #3d3d3d;
      @extend .body_2;
      text-transform: capitalize;
    }
  }
}
