@import '../../../styles/common.scss';

.w-wrapper {
  @extend .max-width-wrapper;
  padding-top: 130px;

  .works-grid {
    display: grid;
    padding-top: 70px;
    grid-template-columns: 1fr;
    row-gap: 100px;
  }
}
