@import '../../styles/colors.scss';
@import '../../styles/common.scss';
@import '../../styles/text.styles.scss';

$ixd_logo_width: 73px;
$ixd_logo_height: 41px;

.footer-wrapper {
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  min-height: 456px;
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
  background-color: $ixd_lighter_blue;

  .ftr-grid {
    @extend .max-width-wrapper;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 117px;
    padding-bottom: 47px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: auto;
      text-align: center;
      row-gap: 30px;
    }

    .ftr-grid-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      @media screen and (max-width: 1024px) {
        align-items: center;
        justify-content: center;
      }

      .ftr-branding {
        .ftr-row {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 10px;

          @media screen and (max-width: 1024px) {
            flex-direction: column;
            justify-content: center;
          }

          .ixd-logo-blue {
            width: $ixd_logo_width;
            height: $ixd_logo_height;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          .ixd-text-gradient {
            @extend .body_1;
            font-weight: 600;
            background: -webkit-linear-gradient(
              $ixd_dark_blue,
              $ixd_light_blue
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media screen and (max-width: 1024px) {
              text-align: center;
            }
          }
        }

        .ftr-description {
          @extend .body_2;
          max-width: 460px;

          @media screen and (max-width: 1024px) {
            text-align: center;
          }
        }
      }

      .ftr-lists {
        .ftr-list-head {
          font-size: 18px;
          font-family: 'Poppins';
          font-weight: 600;
          margin-bottom: 20px;
        }

        .ftr-list {
          list-style: none;
          @extend .body_2;
          margin: 0;
          padding: 0;

          &.ftr-services {
            @media screen and (max-width: 1024px) {
              display: none;
            }
          }

          .ftr-p {
            display: none;

            @media screen and (max-width: 1024px) {
              display: block;
            }
          }

          li {
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }

            .contact {
              display: flex;
              align-items: center;

              @media screen and (max-width: 1024px) {
                flex-direction: column;
              }

              .icon {
                height: 18px;
                padding-right: 5px;

                @media screen and (max-width: 1024px) {
                  padding-right: 0;
                  margin-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
