@import '../../../../styles/text.styles.scss';
@import '../../../../styles/colors.scss';

.work-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .wr-img-wrapper {
    flex-basis: 50%;

    .wr-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .wr-details {
    flex-basis: 45%;

    @media screen and (max-width: 1024px) {
      text-align: center;
    }

    .wr-heading {
      @extend .heading_6_semi_bold;
      color: #0f1e24;
    }

    .wr-type {
      @extend .subtitle;
      color: #c4c4c4;
    }

    .wr-descripton {
      padding-top: 20px;
      @extend .subtitle;
      color: #565656;
    }
  }
}
