@import '../../../styles/text.styles.scss';
@import '../../../styles/colors.scss';

$tick_size: 17px;

.cu-choice {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  padding-right: 0;
  width: 187px;
  height: 50px;
  border-radius: 10px;
  background-color: $ixd_lighter_blue;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &.active,
  &:focus {
    border: 1px solid $ixd_input_focus;
  }

  .cuc-tick {
    width: $tick_size;
    height: $tick_size;
    background-color: transparent;
    border: 1px solid black;
    color: transparent;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background-color: $ixd_input_focus;
      border: 0px;
      color: white;
    }
  }
}

.ss-choice {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
  font-weight: 600;
  color: $disabled_text;

  &.ss-active {
    color: $ixd_input_focus;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
  }

  .ssc-box {
    width: 18px;
    @extend .subtitle;
    height: 18px;
    border-radius: 4px;
    border: 2px solid;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
