.page-container {
  position: relative;
  min-height: 100vh;
  transition: filter 200ms linear;

  &.blur {
    filter: blur(10px);
  }

  .content-wrap {
    padding-bottom: 456px;

    @media screen and (max-width: 1024px) {
      padding-bottom: 700px;
    }
  }
}
